#in .htaccess file in the folder you're trying to protect
AuthType Basic
AuthName "This Area is Password Protected"
AuthUserFile stefanazzz.github.io/ESD/.htpasswd
Require valid-user

#put in a .htpasswd file in a  non-public facing directory
#you can generate a password here: http://www.htaccesstools.com/htpasswd-generator/
toto123
